* {
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 25px 36px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: lightgrey;
}

header a:hover {
    color: orange;
    text-decoration: none;
}

header nav {
    margin: 10px 250px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0;
    font-weight: lighter;
    padding: 0 50px;
}

.about-me {
   width: 100%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   background-color: #5366d0;
}

.about-me img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    align-items: left;
}

.about-me img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5)
}

.about-me p {
    text-align: center;
    font-weight: bold;
    padding: 10px 500px;
    color: lightgray;
}

#title-one, #title-two, #title-three {
    display: inline-block;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightgray;
}

.work {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: black;
 }

 .work-grid-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-content: flex-start;
     align-items: center;
     justify-content: center;
     max-width: 80%;
     height: 100%;
     margin: 0 auto;
     padding: 30px 0 0;
     list-style: none;
     color: white;
     grid-template-columns: 200px;
     background-color: #5366d0;
 }

 #work-grid-RB {
     width: 750px;
     height: 200px;
     background-image: url("../images/runbuddy.jpg");
     background-size:  100%;
     position: relative;
     border: solid black;
     color: black;
     translate: (0,0);
     text-align: inherit;
 }

 #work-grid-RB :hover {
     translate: (0, -20px);
 }

 #work-grid-M {
    width: 20%;
    height: 25%;
    position: relative;
    border: solid black;
}

#work-grid-M :hover {
    
}

#work-grid-HP {
    width: 15%;
    height: 100px;
    position: relative;
    border: solid black;
}
 
 .contact-me {
    width: 100%;
    margin: 0 auto;
    padding: 25px 36px;
    display: inline-flex;
    background-color: #5366d0;
 }

 .contact ul li a {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
 }