* {
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 25px 36px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: lightgrey;
}

header a:hover {
    color: orange;
    text-decoration: none;
}

header nav {
    margin: 10px 250px;
}

header nav ul {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0;
    font-weight: lighter;
    padding: 0 50px;
}

.about-me {
   width: 100%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   background-color: #5366d0;
}

.about-me img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    align-items: left;
}

.about-me p {
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    color: lightgray;
}

#title-one, #title-two, #title-three {
    display: inline-block;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightgray;
}

.work {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: black;
 }

 .work-grid-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-content: flex-start;
     align-items: center;
     justify-content: center;
     max-width: 80%;
     height: 100%;
     margin: 0 auto;
     padding: 30px 0 0;
     list-style: none;
     color: white;
     grid-template-columns: 200px;
     background-color: #5366d0;
 }

/*Run Buddy*/
 #work-grid-RB {
     width: 750px;
     height: 200px;
     background-image: url("../images/runbuddy.jpg");
     background-size:  100%;
     position: relative;
     border: solid black;
     color: black;
     translate: (0,0);
     text-align: inherit;
 }
 
 #work-grid-RB a {
     text-decoration: none;
     color: white;
 }

 #work-grid-RB a:hover {
     color: red;
 }

/*Monkees*/
 #work-grid-M {
    width: 20%;
    height: 25%;
    background-image: url("../images/monkeesfp.jpg");
    background-size: 100%;
    position: relative;
    border: solid black;
    color: black;
    font-size: 75%;
}

#work-grid-M a {
    text-decoration: none;
    color: blue;
}

#work-grid-M :hover {
    color:red;
}

/*Horiseon*/
#work-grid-HP {
    width: 15%;
    height: 100px;
    background-image: url("../images/horiseon.jpg");
    background-size: 150%;
    position: relative;
    border: solid black;
}

#work-grid-HP a {
    text-decoration: none;
    color: white;
}

#work-grid-HP :hover {
    color:red;
}

/*NOVID*/
#work-grid-NOVID {
    width: 750px;
    height: 200px;
    background-image: url("../images/Novid.jpg");
    background-size:  100%;
    position: relative;
    border: solid black;
    color: black;
    translate: (0,0);
    text-align: inherit;
}

#work-grid-NOVID a {
    text-decoration: none;
    color: blue;
}

#work-grid-NOVID a:hover {
    color: red;
}
 
 #contact-me {
    width: 100%;
    margin: 0 auto;
    padding: auto;
    display: inline;
    background-color: #5366d0;
 }

 #contact {
     display: inline-flex;
 }

 #contact ul li a {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
 }

 @media screen and (max-width: 980px) {
    header {
       padding-bottom: 0;
       justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .about-me, .work, .contact-me {
        width: 100%;
    }

    .about-me p {
        flex-wrap: wrap;
        padding: 10%;
    }

    .about-me img {
        width: 25%;
        height: 25%;
    }

    .work-grid-container {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
   }

   @media screen and (max-width: 768px) {
    .about-me, .work, .contact-me {
        padding: 30px 15px;
    }

    .about-me , .work{
        flex: 1 100%;
        text-align: center;
    }

    .about-me img {
        width: 10px;
        height: 10px;
    }
